
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Thasadith', sans-serif;
  background: transparent;
  position: relative;

}

.projectTiles:hover {
 transform: scale(1.05);
}

.projectButtons{
  margin-right: 15px;
  margin-top: 15px;
}

#giticon:hover{
border-style: solid;
border-color: white;
border-width: 1px;
border-radius: 20px;
}
/*
.projectContainer{
  background-color: gray;
  height: 250px;
  width: 350px;
  position: relative;
}

.projectContainer:active{
  opacity: .2;
}

.projectImage{
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  height: 250px;
  width: 350px;
  display:table;
  transform: translate(2%, -100%);
  text-align: left;
}


.projectContainer:hover .projectImage {

  opacity: .2;
  transition: 1s ;
}

.projectContainer:hover .middle {
  opacity: 1;

}


.projectContainer:focus .middle {
  outline: none;
  box-shadow: none;
  opacity: 1;
}

.projectContainer:focus .projectImage {
    outline: none;
    box-shadow: none;
    opacity: .2;
    transition: 1s ;
}

.projectText {
  color: #f5f2d0;
  font-size: 16px;
  display: table-cell;
  vertical-align: bottom;

}

#projectIcons > a{
  display: inline-block;
  display: -moz-inline-box;
  display: inline;
  zoom: 1;
  width: 15%;
  text-align: center;


}
*/
table{
  border-radius: 20px;
  overflow:hidden;
}

th{
  padding-left: 40px;
}


.aboutTitle{
   font-size: 40px;
     margin-left: 40px;
   color: #998087;
   font-family: 'Thasadith', sans-serif;
   white-space: nowrap;
   overflow:hidden;

}


.aboutTitle:after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 80%;
  background-color: #998087;
  position: relative;
  top: -10px;
}

.aboutSection{

  padding-top:10px;

}

.description{
  max-width: 800px;
  left: 50%;
  transform: translate(-50%, 0%);
     overflow:hidden;
}

a.aboutAnchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;

}

a.projectAnchor{
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.profilepic{
  border-radius: 50%;
  padding-right: 20px;
  width: 250px;
  height: 240px;
  position: right;
}

.projectTitle{
   font-size: 40px;
   color: white;


}

.projectsSection{
  padding-left:40px;
  top:-100px;
}

.overlay {
  top: 7vh 3vw;
  width: 100%;
  text-align: center;
  font-size: calc(4vw + 4vh + 3vmin);
  color: white;
  font-weight: normal;
  font-family: 'Francois One', sans-serif;
  opacity: 0.6;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;


}

#subOverlay {
  width: 100%;
  text-align: center;
  font-size: calc(.5vw + .5vh + 2vmin);
   top: -2vw;

}


.mb_parallax_container {
  height: 100vh;
  width: auto;
  border-bottom: 5px solid white;
  padding-top: 20vh;
  background-attachment: fixed;
  background-size: cover;
  background-position:  top center;
  background-repeat: no-repeat;

}

.mb_parallax_container2 {
  height: 100%;
  width: auto;
  border-bottom: 5px solid white;
  padding-top: 20vh;
  background-attachment: fixed;
  background-size: cover;
  background-position:  top center;
  background-repeat: no-repeat;

}

.mb_parallax_overlay {
  height: 300px;
  width: auto;
  margin-left: 0;
  background-color: grey;
  opacity: .5;
      z-index: 2;


}

#mb_parallax_one {
  background-image: url(./img/mauveSFbg-compr.jpg);
      z-index: -1;



}

#mb_parallax_two {
  background-color:white;


}

#mb_parallax_three {
  background-image: url(./img/triangleBG.png);


}
