
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;
  background: transparent;
  position: relative;
}



.contactSection{
  height: 200px;
  background-color: #505050;
  color: #fff;
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
}

.contactSection a:hover{
  background-color: #505050;
  opacity: 0.2;
}

.projectTiles:hover {
 transform: scale(1.05);
}

.projectButtons{
  margin-right: 15px;
  margin-top: 15px;
}

.projectTitle:after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 80%;
  background-color: #fff;
  position: relative;
  top: -10px;
  left: 15px;
}

#giticon:hover{
border-style: solid;
border-color: white;
border-width: 1px;
border-radius: 20px;
}



table{
  padding-left: 40px;
}

b {
color: #998087;
}

.aboutTitle{
   font-size: 40px;
   margin-left: 40px;
   color: #998087;
   font-family: 'Thasadith', sans-serif;
   white-space: nowrap;
   overflow:hidden;
}


.aboutTitle:after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 80%;
  background-color: #998087;
  position: relative;
  top: -10px;
}

.aboutSection{

  padding-top:10px;

}

.description{
  max-width: 800px;
  left: 50%;
  transform: translate(-50%, 0%);
     overflow:hidden;
}

a.aboutAnchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;

}

a.projectAnchor{
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.profilepic{

  padding-right: 20px;
  width: 220px;
  height: 240px;
  position: right;
}

.projectTitle{
   font-size: 40px;
   color: white;


}

.projectsSection{
  padding-left:40px;
  top:-120px;
}


.overlay {
  top: 7vh 3vw;
  width: 100%;
  text-align: center;
  font-size: calc(4vw + 4vh + 3vmin);
  color: white;
  font-weight: normal;
  font-family: 'Francois One', sans-serif;
  opacity: 0.6;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#subOverlay {
  width: 100%;
  text-align: center;
  font-size: calc(.5vw + .5vh + 2vmin);
   top: -2vw;

}


.mb_parallax_container {
  height: 100vh;
  width: auto;
  padding-top: 20vh;

}

.mb_parallax_container2 {
  height: 100%;
  width: auto;
  padding-top: 20vh;
  background-attachment: fixed;
  background-size: cover;
  background-position:  top center;
  background-repeat: no-repeat;

}

.mb_parallax_overlay {
  height: 300px;
  width: auto;
  margin-left: 0;
  background-color: grey;
  opacity: .5;
      z-index: 2;
}


#mb_parallax_one {
  background-image: url(./img/mauveSFbg-compr.jpg);
      z-index: -1;
      background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (max-width: 768px) {
	.parallax_img {
		background-attachment: inherit;
	}

#mb_parallax_two {
  background-color:white;


}

#mb_parallax_three {
  background-image: url(./img/triangleBG.png);


}
