body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.parallax {
  /* The image used */
  background: url('./img/cityScape.png');

    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    z-index: -1;
}

#header{
  box-sizing:border-box;-moz-box-sizing:border-box;
  position:fixed;
  background:#fff;
   color:#000;
   padding: 50px;
  top: 300px;
  margin: 0 auto;
  left: 50vw;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
