body {
  margin: 0;
  padding: 0;
  font-family: 'Thasadith', sans-serif;
  top: 50%;
  position: relative;
  padding-top: 44px;
}

table{
  border-radius: 20px;
  overflow:hidden;
}



.sectionDivider{
  margin-top: 10px;
  margin-right: 20px;
  width: 250px;
  height: 20px;
  opacity: 0.5;
  height:10px
}
.aboutTitle{
   font-size: 40px;
   color: #998087;
   font-family: 'Thasadith', sans-serif;

}
.aboutSection{
  margin-left: 20px;
  margin-left: 20px;
  margin-top:10px;
}

.profilepic{
  border-radius: 50%;
  margin-right: 20px;
  width: 250px;
  height: 270px;
  margin-top:-20px;
  position: right;
}

.projectTitle{
  margin-left: 40px;
   font-size: 40px;
   color: white;
   font-weight:bold;
   margin-top:-100px
}
.navbar{
  text-align: right;
  min-height:30px !important;
  opacity: 0.9;
}

.navbar-nav > li > a {
  padding-top:2px !important; padding-bottom:2px !important;
}

.nav-link{
  color:#746469;
  margin-left: 30px;
  text-align: right;
}

.nav-link:hover {
  background-color: #998087;
  color: white;
    transition: 0.7s;
}

.overlay {
  margin-top: 7vh 3vw;
  width: 100%;
  text-align: center;
  font-size: calc(4vw + 4vh + 3vmin);
  color: white;
  font-weight: normal;
  font-family: 'Francois One', sans-serif;
  opacity: 0.6;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#subOverlay {
  width: 100%;
  text-align: center;
  font-size: calc(.5vw + .5vh + 2vmin);
   margin-top: -2vw;

}


.mb_parallax_container {
  height: 100vh;
  width: 100vw;
  border-bottom: 5px solid white;
  padding-top: 20vh;
  background-attachment: fixed;
  background-size: cover;
  background-position:  top center;
  background-repeat: no-repeat;
}

.mb_parallax_overlay {
  height: 300px;
  width: 600px;
  margin-left: 0;
  background-color: grey;
  opacity: .5;
      z-index: 2;
}

#mb_parallax_one {
  background-image: url(./img/mauveSFbg-compr.jpg);

      z-index: -1;
}

#mb_parallax_two {
  background-color:white;
}

#mb_parallax_three {
  background-image: url(./img/triangleBG.png);
}
