.navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light{
 background-color: transparent;
background: transparent;
border-color: transparent;
}

.navbar-toggler {
 border-color: #000;
}

.navbar{
  text-align: right;
  min-height:30px !important;
  opacity: 0.9;
  margin: 0;
  padding 0;
}

.navbar-nav > li > a {
  padding-top:2px !important; padding-bottom:2px !important;
}

.nav-link{
  color:#000;
  margin-left: 30px;
  text-align: right;
}





.navbar-nav .nav-item .nav-link:hover {
  opacity: 0.5;
  background-color: #998087;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
    transition: 2s ;
}




#resume{
  border-color: #000;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

@media (max-width: 600px) {
#resume {
    border-width: 0px;
}
}
